<footer class="bg-wild-sand py-1 py-md-4 border-top text-center text-md-left">
  <div class="container-fluid px-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-auto mb-2 mb-md-0">
        <p class="mb-0">Designed and Developed by Deep Mehta.</p>
      </div>
      <div style="position: absolute; right: 0;">
        <p class="mb-0"><a href="https://deepmehta.co.in/projects/finance-tracker">Project URL</a> | <a href="https://github.com/deep-mm/FinancialTracker-Frontend">Repo URL</a></p>
      </div>
    </div>
  </div>
</footer>
